@{
    ViewBag.Title = "Для партнеров";
}

<div class="text-center">
    <img src="/img/mr_evil.jpg" alt="Коварные планы"  class="rounded mx-auto d-block">
    <span class="blockquote">Товарищи по цеху, завхватим мир с помощью практик BDD</span>
</div>